FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "CLK" SITE "P3";

LOCATE COMP "io_pin[0]" SITE "T1";
LOCATE COMP "io_pin[1]" SITE "Y2";
LOCATE COMP "io_pin[2]" SITE "V1";

IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

IOBUF PORT "io_pin[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_pin[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_pin[2]" IO_TYPE=LVCMOS33;
