# Xilinx Vivado
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.srcs
*.Xil
*.xpr
webtalk.*

# Quartus files
*.bak
*.qws
filters.xml
preferences.xml
db/
incremental_db/
output_files/

# IceStorm
*yosys.log
*.bin
*.rpt
*.asc
*.json
*.out
*.vcd
*.gtkw

# Verilator
obj_dir

# cocotb
results*.xml
sim_build*
__pycache__
*.vcd

# Mac
.DS_Store
