# Xilinx Vivado
*.cache
*.hw
*.ioplanning
*.ip_user_files
*.runs
*.sim
*.srcs
*.Xil
*.xpr
webtalk.*

# Quartus files
*.bak
*.qws
*description.txt
*.cdf
*.done
*.smsg
*.summary
*.jdi
*.pin
*.qpf
*.qsf
*.sft
*.sld
*.sof
*.vo
filters.xml
preferences.xml
db/
greybox_tmp/
incremental_db/
output_files/

# IceStorm
*yosys.log
*nextpnr.log
*.bin
*.rpt
*.asc
*.json
*.out
*.vcd
*.gtkw

# Verilator
obj_dir

# cocotb
results*.xml
sim_build*
__pycache__
*.vcd

# Mac
.DS_Store

# Project Trellis
*.bit
*.svf
*_out.config
