FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "CLK" SITE "P3";

LOCATE COMP "LED1" SITE "R1";
LOCATE COMP "LED2" SITE "U1";
LOCATE COMP "LED3" SITE "W1";
LOCATE COMP "LED4" SITE "M1";

LOCATE COMP "LED[0]" SITE "N4";
LOCATE COMP "LED[1]" SITE "L4";
LOCATE COMP "LED[2]" SITE "P16";
LOCATE COMP "LED[3]" SITE "J18";
LOCATE COMP "LED[4]" SITE "R3";
LOCATE COMP "LED[5]" SITE "M4";
LOCATE COMP "LED[6]" SITE "L5";
LOCATE COMP "LED[7]" SITE "J16";

IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;

IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "LED[7]" IO_TYPE=LVCMOS33;
