FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "CLK" SITE "P3";

#LOCATE COMP "LED1" SITE "R1";
#LOCATE COMP "LED2" SITE "U1";
#LOCATE COMP "LED3" SITE "W1";
#LOCATE COMP "LED4" SITE "M1";

#LOCATE COMP "BTN1" SITE "T1";
#LOCATE COMP "BTN2" SITE "Y2";
#LOCATE COMP "BTN3" SITE "V1";
#LOCATE COMP "IR"   SITE "N2";

LOCATE COMP "LED1" SITE "R3";
LOCATE COMP "LED2" SITE "M4";
LOCATE COMP "LED3" SITE "L5";
LOCATE COMP "LED4" SITE "J16";

LOCATE COMP "BTN1" SITE "N4";
LOCATE COMP "BTN2" SITE "L4";
LOCATE COMP "BTN3" SITE "P16";
LOCATE COMP "IR"   SITE "J18";

LOCATE COMP "HDMI_P[0]" SITE "G19";
LOCATE COMP "HDMI_P[1]" SITE "E20";
LOCATE COMP "HDMI_P[2]" SITE "C20";
LOCATE COMP "HDMI_P[3]" SITE "J19";
LOCATE COMP "HDMI_N[0]" SITE "H20";
LOCATE COMP "HDMI_N[1]" SITE "F19";
LOCATE COMP "HDMI_N[2]" SITE "D19";
LOCATE COMP "HDMI_N[3]" SITE "K19";

LOCATE COMP "LK_CLK" SITE "F4";
LOCATE COMP "LK_STB" SITE "E6";
LOCATE COMP "LK_DIO" SITE "D16";
LOCATE COMP "PROBE"  SITE "D17";

LOCATE COMP "RX"  SITE "J17";

IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;

IOBUF PORT "BTN1" IO_TYPE=LVCMOS33;
IOBUF PORT "BTN2" IO_TYPE=LVCMOS33;
IOBUF PORT "BTN3" IO_TYPE=LVCMOS33;

IOBUF PORT "HDMI_P[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_P[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_P[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_P[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_N[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_N[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_N[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "HDMI_N[3]" IO_TYPE=LVCMOS33;

IOBUF PORT "LK_CLK" IO_TYPE=LVCMOS33;
IOBUF PORT "LK_STB" IO_TYPE=LVCMOS33;
IOBUF PORT "LK_DIO" IO_TYPE=LVCMOS33;
IOBUF PORT "PROBE"  IO_TYPE=LVCMOS33;

IOBUF PORT "RX"  IO_TYPE=LVCMOS33;
IOBUF PORT "IR"  IO_TYPE=LVCMOS33;
